doctype html
html 
    head
        title Distance Caluclator
        link(rel='stylesheet', href='/style.css')
    body
        h1.center Distance between Point A and Point B
        br
        h4.center Distance: #{kilo}km